/* NAVBAR HORIZONTAL */
.nav-container{ 	
width:100%; 
background-color: #000;
box-shadow: 2px 2px 20px #707989;  
position:fixed; 
margin:0;
left:0;  
top:0;
} 

.nav-container ul{
width:100%;
margin: auto;
padding:0; 
list-style-type: none; 
font-size:16px;  
font-family:"Gill Sans", Helvetica, Arial, sans-serif;
}  

.nav-container li{
float: right; 
}  

.nav-container a{ 
display: block;   
box-sizing: border-box; 
width: 155px; 
padding: 10px 5px;
text-decoration: none; 
text-align: center; 
color:#fff;
} 

.nav-container a:link{ 
background-color:#000; 
/*colors the buttons initially*/
}

.nav-container a:hover{ 
background-color: #E53939;
/* changes link-box color on rollover*/ 
}

.nav-container a:active{ 
background-color:#E53939;
/* changes link-box color on click only*/ 
}

/***********************************/

/* Other Links */
ol{
/*list-style-type: none; */
font-size:24px;  
font-family:"Gill Sans", Helvetica, Arial, sans-serif;
}

.hw a{
	text-decoration: none;
	color:#000;
}

.hw a:link{
	color:#000;
}

.hw a:hover{
	color:#E53939;
}


/***********************************/

/* Pics */

.center-responsive{ 
	/* use to center photos */
	display:block;
	max-width:100%; 
	max-height: 100%;
	margin:0 auto;
	box-shadow: 5px 5px 8px #403233;
	}

.right-responsive{ 
	/* go right */
	max-width:100%; 
	max-height: 100%;
	float: right;
	margin: 5px 0 5px 25px;
	box-shadow: 5px 5px 8px #403233;
	}



/***********************************/

/*Text*/

body{
	margin: 80px 15% 50px 15%;
	background-color: ##F4F9E9;
	/* A Google Font*/
	font-family: 'Merriweather', serif;	
    
	color:#040403;
	}

h1{
    /* A Google Font*/
    font-family:"Gill Sans", Helvetica, Arial, sans-serif;	
	font-size: 32px;
	margin-bottom: 0;
	}
h2{
    /* A Google Font*/
    font-family:"Gill Sans", Helvetica, Arial, sans-serif;	
	font-size: 26px;
	margin-bottom: 0;
	}

p{
	text-align: justify;
    font-size: 16px;
	}

